<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Euromed settings -->
    <add key="JMS-URL" value="failover:(ssl://pod171-33-98-34.3dexperience.3ds.com:80,ssl://pod171-33-98-34-1.3dexperience.3ds.com:80)?randomize=false" /> <!-- e.g failover:(ssl://pod171-33-98-34.3dexperience.3ds.com:80,ssl://pod171-33-98-34-1.3dexperience.3ds.com:80)?randomize=false -->
    <add key="AGENT-ID" value="1fff6195-5c3f-4774-b4ca-5691c585d5f2" /><!-- e.g 1fff6195-5c3f-4774-b4ca-5691c585d5f2-->
    <add key="AGENT-CREDENTIALS" value="********" />
    <add key="TENANT-ID" value="R1132100982379" /><!-- e.g R1132100982379-->
    <add key="OUTPUT-FILENAME" value="C:\\temp\\output.txt" />    
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>