<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Euromed settings -->        
    <add key="EIF-JMS-URL" value="failover:(ssl://pod171-33-98-34.3dexperience.3ds.com:80,ssl://pod171-33-98-34-1.3dexperience.3ds.com:80)?randomize=false" />
    <add key="AGENT-ID" value="1fff6195-5c3f-4774-b4ca-5691c585d5f2" />
    <add key="AGENT-CREDENTIALS" value="********" />
    <add key="TENANT-ID" value="R1132100982379" />
    <add key="QUEUE-NAME" value="3dx-euromed-event-queue" />
  </appSettings>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=azfundsemedcpestorage;AccountKey=sAtrD7RLfZeYhvOKytN/OxlWnct0HSQnWZN2F4jdd39hV1nEDdW32h9qGimHdWPtYKAWOmTOUgHDS8NXIaiPqw==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=azfundsemedcpestorage;AccountKey=sAtrD7RLfZeYhvOKytN/OxlWnct0HSQnWZN2F4jdd39hV1nEDdW32h9qGimHdWPtYKAWOmTOUgHDS8NXIaiPqw==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>